<h1>edit cupboard</h1>

<!-- <h2>Choose a neutral</h2> -->

<!-- <div class="container" style="background-color: #03a9f4;"> -->


  <!-- <%= form_for [@cupboard], url: {action: "update"} do |f| %>
  <ul>
    <li id="clr1" class="radio"><%= f.radio_button(:neutral1, "#FFFFFF") %></li>
    <li id="clr2" class="radio"><%= f.radio_button(:neutral1, "#804002") %></li>
    <li id="clr3" class="radio"><%= f.radio_button(:neutral1, "#808080") %></li>
    <li id="clr4" class="radio"><%= f.radio_button(:neutral1, "#000000") %></li>
    <li id="clr5" class="radio"><%= f.radio_button(:neutral1, "#EADAC1") %></li>
    <li id="clr6" class="radio"><%= f.radio_button(:neutral1, "#F7EEE5") %></li>
    <li id="clr7" class="radio"><%= f.radio_button(:neutral1, "#715F39") %></li>
    <li id="clr8" class="radio"><%= f.radio_button(:neutral1, "#02247D") %></li>
  </ul>
    <%= f.submit %>
  <% end %> -->
<!-- </div> -->
<div class="control-group">
	<h1>Choose a neutral</h1>
  <%= form_for [@cupboard], url: {action: "update"} do |f| %>
	<label class="control control--radio" style="background-color: white;">White
		<%= f.radio_button(:neutral1, "#FFFFFF") %>
		<div class="control__indicator"></div>
	</label>
	<label class="control control--radio" style="background-color: #804002;">Brown
		<%= f.radio_button(:neutral1, "#804002") %>
		<div class="control__indicator"></div>
	</label>
	<label class="control control--radio" style="background-color: #808080;">Grey
		<%= f.radio_button(:neutral1, "#808080") %>
		<div class="control__indicator"></div>
	</label>
	<label class="control control--radio" style="background-color: black;">Black
		<%= f.radio_button(:neutral1, "#000000") %>
		<div class="control__indicator"></div>
	</label>
  <label class="control control--radio" style="background-color: #EADAC1;">Beige
    <%= f.radio_button(:neutral1, "#EADAC1") %>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--radio" style="background-color: #F7EEE5;">Cream
    <%= f.radio_button(:neutral1, "#F7EEE5") %>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--radio" style="background-color: #715F39;">Mud
    <%= f.radio_button(:neutral1, "#715F39") %>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--radio" style="background-color: #02247D;">Blue
    <%= f.radio_button(:neutral1, "#02247D") %>
    <div class="control__indicator"></div>
  </label>
  <%= f.submit %>
<% end %>
</div>
<!--
<div id="colorlist">
  <div id="clr1" class="generalcolor">

  </div>
  <div id="clr2" class="generalcolor">

  </div>
  <div id="clr3" class="generalcolor">

  </div>
  <div id="clr4" class="generalcolor">

  </div>
  <div id="clr5" class="generalcolor">

  </div>
  <div id="clr6" class="generalcolor">

  </div>
  <div id="clr7" class="generalcolor">

  </div>
  <div id="clr8" class="generalcolor">

  </div> -->
<!-- </div> -->
