<h1>Cupboard#new</h1>
<p>Find me in app/views/cupboard/new.html.erb</p>
<div class="second">
  <div class="dropdown">
    <p class="ineedatext1">
      I NEED:
    </p>
    <%= form_for @cupboard, url: { action: "create" }, html: { class: "listform"} do |f| %>
      <%= f.label "ATHLEISURE", class: "welcomelistitem" %>
      <%= f.radio_button(:style, "ATHLEISURE") %>

      <%= f.label "CASUAL", class: "welcomelistitem" %>
      <%= f.radio_button(:style, "CASUAL") %>

      <%= f.label "PROFESISONAL", class: "welcomelistitem" %>
      <%= f.radio_button(:style, "PROFESSIONAL") %>

      <%= f.label "WEEKEND", class: "welcomelistitem" %>
      <%= f.radio_button(:style, "WEEKEND") %>

      <%= f.label "FESTIVAL", class: "welcomelistitem" %>
      <%= f.radio_button(:style, "FESTIVAL") %>

      <%= f.label "DATENIGHT", class: "welcomelistitem" %>
      <%= f.radio_button(:style, "DATENIGHT") %>

    <%= f.submit 'Make a new closet' %>
    <% end %>




    <!--


    <div id="ineedalist">
      <p class="welcomelistitem" id="athleisure">
        ATHLEISURE
      </p>
      <p class="welcomelistitem" id="casual">
        CASUAL
      </p>
      <p class="welcomelistitem" id="professional">
        PROFESSIONAL
      </p>
      <p class="welcomelistitem" id="weekend">
        WEEKEND
      </p>
      <p class="welcomelistitem" id="festival">
        FESTIVAL
      </p>
    </div>


    <p class="ineedatext2">
      FOR
    </p>

    <div id="ineedalist2">
      <p class="welcomelistitem" id="fall">
        FALL
      </p>
      <p class="welcomelistitem" id="winter">
        WINTER
      </p>
      <p class="welcomelistitem" id="spring">
        SPRING
      </p>
      <p class="welcomelistitem" id="summer">
        SUMMER
      </p>
    </div>
   -->
  </div>
</div>
