<!DOCTYPE html>
<html>
<head>
  <title>Closet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="nav">
      <%= link_to 'Create Account', new_user_path(@user), class: "login"  %>
      <a class="login" href="">Login</a>
    </div>

    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

<%= yield %>

</body>
</html>
